* {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}
html {
    scroll-behavior: smooth;
}
table, th, td {
    border: 1px solid black;
  }
th, td {
    padding: 3px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;